<include file="Public:header" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap-datetimepicker.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap-datetimepicker.min.css" />
<script src="__PUBLIC__/Common/js/bootstrap-datetimepicker.min.js"></script>
<script src="__PUBLIC__/Common/js/bootstrap-datetimepicker.js"></script>
<script src="__PUBLIC__/Common/js/bootstrap-datetimepicker.zh-CN.js "></script>
<script src="__PUBLIC__/Common/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<div class="container">
	<div class="col-md-offset-10 col-md-10">
		<button class="btn btn-primary btn-md col-md-2" name="modify" onclick="javascript:displayForm1()">添加事务</button>
	</div>
	<br>

	<div class="container" id="bulletin_add_form" style="display:none;">
		<br/>
		<form class="form-horizontal" name="bulletin_form" method="post" action="__URL__/addMatter">
			<div class="form-group">
				<label for="date" class="control-label col-sm-1">值班日期</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="date" name="date" placeholder="添加值班日期">
				</div>
			</div>
			<div class="form-group">
				<laber for="address" class="control-label col-sm-1">值班地点</laber>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="address" name="address" placeholder="添加值班地点">
				</div>
			</div>
			<div class="form-group">
				<laber for="period" class="control-label col-sm-1">时间段</laber>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="period" name="period" placeholder="添加时间段">
				</div>
			</div>
			<div class="col-md-offset-2 col-md-10">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary btn-md btn-block" name="add_user" id="saveContent">添加</button>
				</div>
			</div>
		</form>
	</div>
	<br>
	<script>
        var flag=true;
        function displayForm1()
        {
            var div=document.getElementById("bulletin_add_form");
            if(flag)	div.style.display="block";
            else	div.style.display="none";
            flag=!flag;
        }
        function displayForm() {
            var div=document.getElementById("hahaha");
            if (flag) div.style.display="block";
            else div.style.display="none";
            flag=!flag;
        }
	</script>

	<div class="input-group date form_date col-md-3" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
		<input class="form-control" size="16" type="text" value="" readonly>
		<span class="input-group-addon">
  				<span class="glyphn目录下有两个文件 Phpticon glyphicon-remove"></span>
  			</span>
		<span class="input-group-addon">
     			<span class="glyphicon glyphicon-calendar"></span>
     		</span>
	</div>
	<br><br>

	<volist name="allSetted" id="items">
		<table class="table table-hover table-bordered table-striped">
			<caption>值班地点：<{$items.address}></caption>
			<tr>
				<td class="col-sm-2">值班日期 or 时间段</td>
				<volist name="items['date']" id="dateValue">
					<td><{$dateValue}></td>
				</volist>
			</tr>

			<php>
				$j = 0;
			</php>

			<volist name="items['period']" id="periodValue">
				<tr class="success">
					<td><{$periodValue}></td>
					<php>
						for ($j, $m = 0; $m < $items['dateCount']; $m++, $j++) {
						$afterMember = $items['allDevice'][$j]['select_device'];
						$afterMemberName = $items['allDevice'][$j]['memberName'];
					</php>
					<td>
						<div style="position: relative; top: -7px;">
							<form action="__URL__/doSet" method="post">
								<input type="text" value="<?php echo $items['allDevice'][$j]['id']; ?>" name="deviceId" id="deviceId" hidden>
								<select name="memberName" id="theName" class="form-control" style="position: absolute; width: 65%;">
									<php>
										$allPeopleIn = $items['allDevice'][$j]['allPeopleIn'];
										$allPeopleNotIn = $items['allDevice'][$j]['allPeopleNotIn'];
										for ($k = 0; $k < count($allPeopleIn); $k++){
											if ($afterMember == $allPeopleIn[$k]['id']) {
									</php>
												<option value="<{$afterMember}>" selected="selected">
													<php>
														echo $allPeopleIn[$k]['name'];
													</php>
												</option>
									<php>
											} else {
												$id = $allPeopleIn[$k]['id'];
									</php>
												<option value="<{$id}>">
													<php>
														echo $allPeopleIn[$k]['name'];
													</php>
												</option>
									<php>
											}
										}
									</php>
												<option value="0" disabled>以下不可选</option>
									<php>
										for ($k = 0; $k < count($allPeopleNotIn); $k++){
									</php>
									<php>
											if ($afterMember == $allPeopleNotIn[$k]['id']) {
									</php>
												<option value="<{$afterMember}>" selected="selected">
													<php>
														echo $allPeopleNotIn[$k]['name'];
													</php>
												</option>
									<php>
											} else {
												$id = $allPeopleNotIn[$k]['id'];
									</php>
												<option value="<{$id}>" disabled>
													<php>
														echo $allPeopleNotIn[$k]['name'];
													</php>
												</option>
									<php>
											}
										}
									</php>
								</select>

								<button type="submit" class="btn btn-info" style="position: absolute; width: 35%;left: 66%;">
									确定
								</button>
							</form>
						</div>
					</td>
					<php>
						}
					</php>
				</tr>
			</volist>

		</table>
	</volist>
	<div class="col-md-1">

	</div>
</div>

<include file="Public:footer" />