<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><{$title}></title>
</head>
<body>
<form action="__URL__\doRegister" method = "post">
    账号：<input type="text" name = "userid" value = ""> <br>
    用户名： <input type="text" name = "username" value = ""> <br>
    真实姓名：<input type="text" name = "realname" value = ""> <br>
    邮箱: <input type="text" name = "useremail" value = ""> <br>
    电话号码：<input type="text" name = "userphone" value = ""> <br>
    密码: <input type="password" name="userpass" value=""> <br>
    确认密码:<input type="password" name="repass" value = ""> <br>
    <button type="submit">注册</button>
    <button type="reset">重置</button>
</form>
</body>
</html>