<include file="Public:header" />

	<!-- edit the information -->
	<div class="container" id="bulletin_add_form" style="display:block;">
		<div class="col-sm-12 heading">edit information</div> <br> <br>
		<input type="text" name="id" id="id" value="<{$data.id}>" hidden>
        <textarea class="form-control" rows="1" id="title" name="title" placeholder="edit your name"><{$data.title}></textarea> <br>
        <script id='container' name='content' type="text/plain" style="height:500px;width:100%"><{$data.content}></script>
        <script src="__ROOT__/Public/Js/jquery-3.1.1.min.js"></script>
        <!--配置文件-->
        <script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
        <!--编译器源码文件-->
        <script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
        <!--实例化编译器-->
        <script type="text/javascript">
            $(function(){
                var ue = UE.getEditor('container');
                $('#getContent').click(function(){
                    var html = ue.getContent();
                    alert(html);
                });

                $('#saveContent').click(function(){
                    var html = ue.getContent();
                    var param = {
                    	id: $("#id").val(),
                        title: $("#title").val(),
                        content: html
                    };
                    $.ajax({
                        url: '__URL__/doUpdateInformation',
                        type: 'POST',
                        dataType: 'json',
                        data: param,
                        success: function(data){
                            console.log(data);
                            window.location.href="__APP__/Admin/Information/index";
                        },
                        error: function(xhr){
                            console.log(xhr);
                        }
                    });
                });
            });
            </script>
            <div class="form-group">
				<br/>
				<div class="col-md-12">
					<button type="submit" class="btn btn-success btn-md btn-block" name="add_user" id="getContent">获取内容</button>
				</div>
			</div><br>
            <div class="form-group">
				<br/>
				<div class="col-md-12">
					<button type="submit" class="btn btn-success btn-md btn-block" name="add_user" id="saveContent">修改</button>
				</div>
			</div>


	</div>

<include file="Public:footer" />